.map{
    position: absolute;
    width: 100%;
    height:100%;
}
.welcome-container{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-image{
  width: 100px;
}
.progress{
  margin: 30px;
}
.progress-label{
  color: #999;
  font-family: "Segoe UI Web (West European)",Segoe UI,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
}