# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
D:/Programming/react/fuel_optimization/FuelOptimizationApp/node_modules
D:/Programming/react/fuel_optimization/FuelOptimizationApp/.pnp
D:/Programming/react/fuel_optimization/FuelOptimizationApp/.pnp.js

# testing
D:/Programming/react/fuel_optimization/FuelOptimizationApp/coverage

# production
D:/Programming/react/fuel_optimization/FuelOptimizationApp/build

# misc
D:/Programming/react/fuel_optimization/FuelOptimizationApp/.DS_Store
D:/Programming/react/fuel_optimization/FuelOptimizationApp/.env.local
D:/Programming/react/fuel_optimization/FuelOptimizationApp/.env.development.local
D:/Programming/react/fuel_optimization/FuelOptimizationApp/.env.test.local
D:/Programming/react/fuel_optimization/FuelOptimizationApp/.env.production.local

D:/Programming/react/fuel_optimization/FuelOptimizationApp/npm-debug.log*
D:/Programming/react/fuel_optimization/FuelOptimizationApp/yarn-debug.log*
D:/Programming/react/fuel_optimization/FuelOptimizationApp/yarn-error.log*

D:/Programming/react/fuel_optimization/FuelOptimizationAPI
*[Oo]bj
*[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.vs
D:/Programming/react/fuel_optimization/FuelOptimizationAPI/.vs