# dependencies
node_modules/
.pnp
.pnp.js

# production
build/

# editors
.vs/
.vscode/

# Visual Studio
*[Oo]bj
*[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
*.vs

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*