# nodejs
node_modules/
dist/

# visual studio
.vs/
.vscode/
bin/
obj/
*.DotSettings.user

# rider
.idea/

# typescript
typings/globals
typings/modules

# databases
data/

# security
certs/
DP_keys/

# local .env files
.env*.local

# logs
nginx/log/
