.select{
    width: 40%;
    font-size: 14px;
    margin: 5px;
}

.number {
    margin: 7px;
    width: 10%;
    align-self: center;
      
}
.number *{
    text-align: right;
}
.orders-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.delete-button{
    min-width: 25px;
    min-height: 25px  !important;
    max-width: 25px;
    max-height: 25px !important;
    margin: 10px !important;
    align-self: center;
    background-color: lightcoral !important;
}
.delete-icon{
    max-width: 17px;
    max-height: 17px !important;
}
.add-button{
    margin: 7px !important;
    min-width: 30px;
    min-height: 30px  !important;
    max-width: 30px;
    max-height: 30px !important;
}

.add-icon{
    max-width: 20px;
    max-height: 20px !important;
}